* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  min-height: 100vh;
  background: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-image: url("fondoGirola.png");
}

@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
.logo{
    -webkit-animation: 5s rotate linear infinite;
    animation: 5s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 38vw;
    border-radius: 50px;
}

.accordion{
  margin:1rem;
}

.accordion-button{
  display: flex;
  justify-content: space-between;
  color:black!important;
  background-color: white!important;
}

.accordion-button::after{
  margin-left: 1rem;
}

.list-group-item.active{
  background-color: #d1e7dd!important;
  color: black!important;
  border-color: #d1e7dd!important;
}

.logoTap{
  width: 25vw;
}


.logoHeader{
  width:60vw;
}

/* Diseños responsives */
@media (min-width: 720px) {
  body{
    width: 720px;
  }
  .logoTap{
    width: 10vw;
  }

  .seccionHome{
    width: 100%;
  }
}

@media (min-width: 720px) {
  body{
    width: 720px;
  }
  .logoTap{
    width: 10vw;
  }

  .seccionHome{
    width: 100%;
  }
}

@media (min-width: 1366px) {
  body{
    width: 1366px;
  }
  .logoTap{
    width: 10vw;
  }

  .seccionHome{
    width: 100%;
  }

  .accordion-body{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width: 1440px) {
  body{
    width: 1440px;
  }
  .logoTap{
    width: 10vw;
  }

  .seccionHome{
    width: 100%;
  }

  .accordion-body{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width: 1920px) {
  body{
    width: 1920px;
  }


  .logoTap{
    width: 10vw;
  }

  .seccionHome{
    width: 100%;
  }

  .accordion-body{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .logoHeader{
    width:30vw;
  }
}

/* Colores Girola Calvo 
#9d98caff → Lila
#f58634ff → Naranja
#a8cf45ff → Verde
#ec268fff → Rosa
*/