* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  min-height: 100vh;
  background: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-image: url("./assets/images/fondoGirola.png");
}

p{
  margin-bottom: 0!important;
}

@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
.logo{
    -webkit-animation: 5s rotate linear infinite;
    animation: 5s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 90vw;
}

.accordion{
  margin:1rem;
}

.accordion-button{
  display: flex;
  justify-content: space-between;
  color:black!important;
  background-color: white!important;
}

.accordion-button::after{
  margin-left: 1rem;
}

.list-group-item.active{
  background-color: #d1e7dd!important;
  color: black!important;
  border-color: #d1e7dd!important;
}

.logoTap{
  width: 25vw;
}


.logoHeader{
  width:60vw;
}

.btnCopy{
  margin-left:1rem;
  background: #a8cf45ff;
  border: none;
  border-radius: 0.375rem;
  font-size: 0.75em;
  font-weight: bold;
  padding-left: 0.65em;
  padding-right: 0.65em;
  padding-top: 0.35em;
  padding-bottom: 0.35em;
}

/* Diseños responsives */
@media (min-width: 720px) {
  body{
    width: 720px;
  }
  .logoTap{
    width: 10vw;
  }

  .seccionHome{
    width: 100%;
  }
}

@media (min-width: 1366px) {
  body{
    width: 1366px;
  }

  .logo{
    width: 38vw;
  }

  .logoTap{
    width: 10vw;
  }

  .seccionHome{
    width: 100%;
  }

  .accordion-body{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .logoHeader{
    box-shadow: 0px 0px 5px 1px rgb(201, 201, 201);
    border-radius: 1rem;
  }
}

@media (min-width: 1440px) {
  body{
    width: 1440px;
  }

  .logo{
    width: 38vw;
  }

  .logoTap{
    width: 10vw;
  }

  .seccionHome{
    width: 100%;
  }

  .accordion-body{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .logoHeader{
    box-shadow: 0px 0px 5px 1px rgb(201, 201, 201);
    border-radius: 1rem;
  }
}

@media (min-width: 1920px) {
  body{
    width: 1920px;
  }

  .logo{
    width: 38vw;
  }


  .logoTap{
    width: 10vw;
  }

  .seccionHome{
    width: 100%;
  }

  .accordion-body{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .logoHeader{
    width:30vw;
    box-shadow: 0px 0px 5px 1px rgb(201, 201, 201);
    border-radius: 1rem;
  }
}

/* Swiper */

.swiper {
  width: 300px;
  height: auto;
}

.swiper-slide{
  height: auto;
}

.integrante{
  background-color: #cfe2ff;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
}

.avatar{
  width: 40vw;
}

/* Colores Girola Calvo 
#9d98caff → Lila
#f58634ff → Naranja
#a8cf45ff → Verde
#ec268fff → Rosa
*/